#need to identify where the script can expect certain files
PPE="/glade/u/home/djk2120/ppe_tools/jobscripts/"
SCRIPTS="/glade/work/djk2120/ctsm_amflx/cime/scripts/"
SCRATCH="/glade/scratch/djk2120/"
RESTARTS="/glade/scratch/djk2120/PPEn11/restarts/"
HIST_DIR="/glade/scratch/djk2120/PPEn11/hist/CTL2010SP/"

#the list of paramfiles
paramList="amflx/five.txt"

#where to find the parameter files
PARAMS="/glade/scratch/djk2120/PPEn11/amflx_lhc/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=true
NLMODS="/glade/scratch/djk2120/PPEn11/amflx_lhc/namelist_mods/"

#presubmission template
template="/glade/u/home/djk2120/ppe_tools/jobscripts/amflx.job"

#specify the cases
ensemble="CTL2010SP"
cases=("PPEn11_CTL2010SPSpin_US-Mpj-beta3" \
       "PPEn11_CTL2010SP_US-Mpj-beta3")					   
exeroots=("/glade/scratch/djk2120/PPEn11_CTL2010SPSpin_US-Ho1-beta3/bld" \
          "/glade/scratch/djk2120/PPEn11_CTL2010SP_US-Ho1-beta3/bld")
